html, body , *, *:after, *:before{
	margin:0;
	padding:0;
}
@media (max-width:1000px) {
	header {
		font-family:Verdana;
		color:white;
		background:black;	
		font-size:1.3em;
		text-align:center;
	}
}

header {
                font-family:Verdana;
                color:white;
                background:black;
                font-size:1.3em;
        }





header h1 {	
}
