<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{ base.url }}/img/hackandpwnedlogo.png" style="max-width:150px; margin-top:-7px;"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.url == '/' %}active{% endif %}"><a href="/">Home</a></li>
        
	<!-- Tutorial Dropdown -->
	<li class="dropdown {% if page.url contains '/Tutorial' %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutorial<span class="caret"></span></a>
          <ul class="dropdown-menu">
		<li><a href="/Tutorial/">All Tutorials</a></li>
		<li role="separator" class="divider"></li>
		<li class="dropdown-header">Web</li>
                <li><a href="#">XSS</a></li>
       	        <li><a href="#">CSRF</a></li>
            		<li><a href="#">SQL Injection</a></li>
			<li role="separator" class="divider"></li>
			<li class="dropdown-header">Binary</li>
			<li><a href="#">Exploitation</a></li>
			<li><a href="#">Reverse Engineering</a></li>
			<li><a href="#">Shellcode</a></li>
      	  </ul>
		</li>
		<!-- CTF Dropdown-->
		<li class="dropdown {% if page.url contains '/CTF' %}active{% endif %}">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CTF<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/CTF/">All Writeup</a></li>
				<li role="separator" class="divider"></li>
				<li class="dropdown-header">Junior CTF</li>
				<li><a href="#">Restricted area</a></li>
				<li role="separator" class="divider"></li>
				<li class="dropdown-header">Vulnhub</li>	
			</ul>
		</li>
		<!-- Video dropdown --!>
		<li class="dropdown {% if page.url contains '/Video' %}active{% endif %}">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Video<span class="caret"></span></a>
		</li>
		<li class="dropdown {% if page.url contains '/Ressource' %}active{% endif %}">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ressources<span class="caret"></span></a>
		
    </div>
  </div>
</nav>
