<!DOCTYPE html>
<html>
	<head>
		<title>Hack and pwned</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div class="TitleWrapper">
					<h1>HACKANDPWNED</h1>
					<h2>&gt;Learn hacking to stay secure</h2>
			  </div>
				<nav class="menu">
					<a href="#" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a>
					<a href="#" class="{% if page.url == '/index.html' %}current{% endif %}">News</a>
					<a href="#" class="{% if page.url == '/writeup.html' %}current{% endif %}">Write Up</a>
					<a href="#" class="{% if page.url == '/index.html' %}current{% endif %}">About Me</a>
				</nav>
			</header>
			<main>
				{{content}}
			</main>
		</div>
	</body>
</html>
